html {
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}


body {
    background-color: #212121;
}


.content {
    max-width: 960px;
    margin: 0 auto;
    background-color: #81D4FA;
    padding: 2rem;
    border-radius: 0.5rem;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 1rem 0.5rem;
    background-color:#E0E0E0;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
}

h1  {
    color: #37474F;
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: #FF3D00;
    font-size: 2rem;

}
h3 {
    color: #DD2C00;
    font-size: 1.6rem;
    margin-top: 2rem;

}